# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://samxgkpylumzyvjmraju.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CIyCPKjw1fCKMOuXQBtMJw_w_obxEE8
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_CIyCPKjw1fCKMOuXQBtMJw_w_obxEE8
